extends layout

block content
  div#sm_player.jp-jplayer

  h1= title
  p.sub_title #{title} is AI-generated music service
  br
  p.sub_title Sample music (pre-generated)
  button(onclick="onClickPlayMusic()")
    font(size="3rem") [PLAY]
  button(onclick="onClickStopMusic()")
    font(size="3rem") [STOP]
  br
  br
  p.ai_link(onclick="onClickLoadMusic()")
    font(size="5rem") [CLICK to play AI Generated Music]

  br
  button(onclick="onClickTest()")
    font(size="3rem" color="0000FF") [TEST]

  script.
    function onClickPlayMusic() {
      $("#sm_player").jPlayer("play");
    }

    function onClickStopMusic() {
      $("#sm_player").jPlayer("stop");
    }

    function onClickTest() {
      var param1 = 'sample.json';
      var json_arr =
      {
        "id": "66c4e6b5ffa0e8cdee987993",
        "title": "SAMPLE melody descriptor",
        "genre": "DEEP~ND",
        "bpm": 90,
        "key_signature": "F",
        "beats": 4,

        "seed_cg": 123,
        "seed_ag": 123456,
        "seed_channel": 123456,

        "chords_notes": 
        [
          { "chords": "F[0]", "n": [[69,240], [70,240], [72,240], [77,240], [77,960]] },
          { "chords": "C[0]", "n": [[76,480], [72,480], [72,480], [74,480]] },
          { "chords": "Bb[0]", "n": [[74,1440], [0,480]] },
          { "chords": "Bbm[0]", "n": [[73,480], [72,480], [72,480], [70,480]] },
          { "chords": "F[0]", "n": [[69,240], [70,240], [72,240], [77,240], [77,960]] },
          { "chords": "C[0]", "n": [[76,480], [72,480], [72,480], [74,480]] },
          { "chords": "Bb[0]", "n": [[70,1440], [0,480]] },
          { "chords": "Csus4[0]", "n": [[67,480], [69,480], [69,480], [67,480]] },
          { "chords": "F[0]", "n": [[65,1440]] }
        ]
      };

      $.ajax({
        url: '/test?param1=' + json_arr.id,
        type: 'POST',
        data: JSON.stringify(json_arr),
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        async: false,
        success: function(result) {
          alert(
            "#1: " + result.param1 + "\n" +
            "#2: " + result.json_id + "\n" +
            "#3: " + result.json_bpm
          );
        }
      });
    }

    function onClickLoadMusic() {
      var user_uid = "";
      $("#sm_player").jPlayer("stop");
      $("#sm_player").jPlayer("setMedia", {
        title: ""
      });

      $.post("/users/register", (data) => {
          user_uid = (data.result) ? data.id : 0;
        }, "json"
      ).done(() => {
        //alert("user_uid = " + user_uid);
        $.get("/users/" + user_uid, (data) => {
            //alert("[1] " + data.title + " [2] " + data.file_name);
            setTimeout((in_title, in_file_name) => {
              $("#sm_player").jPlayer("setMedia",
                {
                  title: in_title,
                  m4a: in_file_name
                }
              );
              $("#sm_player").jPlayer("play");
            }, 200, data.title, data.ref_file_name); // data.file_name
          }, "json");
        }
      ).fail(() => {
          alert("onClickPlayMusic() failed");
        }
      ).always(() => {
          // alert("finished");
        }
      );
    }

  script.
    $(document).ready(() => {
      $("#sm_player").jPlayer({
        ready: function(event) {
          $(this).jPlayer(
            "setMedia",
            {
              title: "Reference song by AI",
              m4a: "sounds/AI_generated_chill_music.mp3",
            }
          );
        },
        play: function() { // To avoid multiple jPlayers playing together.
          $(this).jPlayer("pauseOthers");
        },            
        errorAlerts: true,
        swfPath: "http://jplayer.org/latest/dist/jplayer",
        supplied: "m4a",
        wmode: "window",
        solution: "html",
        useStateClassSkin: true,
        autoBlur: false,
        smoothPlayBar: true,
        keyEnabled: true,
        remainingDuration: true,
        toggleDuration: true
      });
    });                                      
