doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet")
    script(src="http://code.jquery.com/jquery-latest.min.js")
    script(type="text/javascript" src="/js/jquery.jplayer.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/jplayer/jquery.jplayer.js")
  body
    block content
