
body,
h1,
ul {
  font-family: 'Jura', sans-serif;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0px;
  box-sizing: border-box;
  background: #002242;
  font: normal 14px "Jura", "Noto Sans", sans-serif;
}

body {
  padding: 50px;
  background: #000700;
  color: #F0FFE0;
  font: normal 14px/1.6 "Jura", "Noto Sans", sans-serif;
}

p.ai_link {
  color: #FFB700;
  cursor: pointer;
}

p.sub_title {
  font: normal 1.3rem "Jura", "Noto Sans", sans-serif;
}

a {
  color: #00B7FF;
}
